@font-face {
    font-family: ScheherazadeNew;
    src: url(../fonts/Scheherazade_New/ScheherazadeNew-Regular.ttf);
}

@font-face {
    font-family: IBMPlexSansArabic;
    src: url(../fonts/Changa/Changa-VariableFont_wght.ttf);
}


body {
    direction: rtl;
    font-family: ScheherazadeNew !important;
    background-color: #F6F2FF;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.fade-in {
    animation: fadeIn 2s;
}

/**********
Navbar
***********/
nav.navbar {
    background-color: #404e7386;
}



nav.navbar .navbar-brand img {
    width: 80px;
}

nav.navbar ul li a.nav-link {
    color: white;
    font-size: 22px;
    margin-left: 30px;
    font-weight: 600;
}

nav.navbar ul li a.nav-link.active, nav.navbar ul li a.nav-link:hover {
    color: #F28888;
}

nav.navbar .NavButtons a, nav.navbar .NavButtons a.searchBtn, nav.navbar .NavButtons a.searchBtn button, nav.navbar button.navbar-toggler {
    width: 40px;
    height: 40px;
    background-color: #404E73;

    border-radius: 8px;
    color: white;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
    transition: 0.3s ease all;
    padding: 0;
    min-width: 40px;
}

nav.navbar .NavButtons a, nav.navbar .NavButtons a.searchBtn, nav.navbar .NavButtons a.searchBtn button {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navbar .NavButtons a:hover, nav.navbar .NavButtons a.searchBtn:hover {
    transform: scale(1.1);
}

nav.navbar .NavButtons a.contactUsBtn {
    background-color: white;
    color: #F28888;
}

/* nav.navbar .NavButtons form input{
    background-color: white;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #404E73;
    font-size: 20px;
    box-shadow: none;
    height: 40px;
    border: 1px solid #F28888;
} */

nav.navbar .NavButtons a.searchBtn, nav.navbar .NavButtons a.searchBtn button {
    background-color: #F28888;
    border: 1px solid #F28888;
}

/**********
End Navbar
***********/


/**********
Banner
***********/
section.Banner {
    height: 100vh;
}

section.Banner .carousel-inner, section.Banner .carousel-item {
    height: 100vh;
}

section.Banner .carousel-item {
    position: relative;
}

section.Banner .carousel-item .overlay {
    background-color: rgba(0, 0, 0, 0.508);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

section.Banner .carousel-item img {
    height: 100%;
    z-index: 1;
}

section.Banner .carousel button, section.Banner .carousel .carousel-indicators {
    z-index: 100;
}

section.Banner .carousel-item h1.BannerTitle {
    font-size: 50px;
    color: white;
    font-family: IBMPlexSansArabic !important;
    font-weight: bold;
    margin-bottom: 20px;
}

section.Banner .carousel-item h3.BannerText {
    font-size: 25px;
    color: white;
    font-weight: bold;
    width: 75%;
    line-height: 40px;

}

section.Banner .carousel-item .BannerButton {
    background-color: #F28888;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    margin-top: 20px;
    border: none;
    padding: 7px 25px;
    font-weight: 600;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
    transition: 0.3 ease all;
}

section.Banner .carousel-item .BannerButton:hover {
    background-color: #b16363;
}

section.Banner .carousel .carousel-indicators button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    opacity: 1 !important;
}

section.Banner .carousel .carousel-indicators button.active {
    background-color: #404E73;
}

section.Banner button.carousel-control-next, section.Banner button.carousel-control-prev {
    opacity: 1 !important;
    height: fit-content;
    left: 0;

}

section.Banner button.carousel-control-next {
    top: 45%;
}

section.Banner button.carousel-control-prev {
    top: 55%;
    right: unset;
}

section.Banner button.carousel-control-next span, section.Banner button.carousel-control-prev span {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 50%;
    color: #404e73;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease all;
}

section.Banner button.carousel-control-next span:hover, section.Banner button.carousel-control-prev span:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}

/**********
End Banner
***********/