@font-face {
    font-family: ScheherazadeNew;
    src: url(../fonts/Scheherazade_New/ScheherazadeNew-Regular.ttf);
}

@font-face {
    font-family: IBMPlexSansArabic;
    src: url(../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf);
}

@font-face {
    font-family: Katibeh;
    src: url(../fonts/Katibeh/Katibeh-Regular.ttf);
}

body {
    direction: rtl;
    font-family: Katibeh !important;
    background-color: #F6F2FF;
}


/**********
Navbar
***********/
nav.navbar {
    background-color: #404e7386;
}



nav.navbar .navbar-brand img {
    width: 80px;
}

nav.navbar ul li a.nav-link {
    color: white;
    font-size: 22px;
    margin-left: 10px;
}

nav.navbar ul li a.nav-link.active, nav.navbar ul li a.nav-link:hover {
    color: #F28888;
}

nav.navbar .NavButtons a,nav.navbar .NavButtons  a.searchBtn,nav.navbar .NavButtons  a.searchBtn button,nav.navbar button.navbar-toggler{
    width: 40px;
    height: 40px;
    background-color: #404E73;
   
    border-radius: 8px;
    color: white;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
    transition: 0.3s ease all;
    padding: 0;
    min-width: 40px;
}
nav.navbar .NavButtons a,nav.navbar .NavButtons  a.searchBtn,nav.navbar .NavButtons  a.searchBtn button{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav.navbar .NavButtons a:hover,nav.navbar .NavButtons  a.searchBtn:hover{
    transform: scale(1.1);
}
nav.navbar .NavButtons a.contactUsBtn{
    background-color: white;
    color: #F28888;
}
/* nav.navbar .NavButtons form input{
    background-color: white;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #404E73;
    font-size: 20px;
    box-shadow: none;
    height: 40px;
    border: 1px solid #F28888;
} */

nav.navbar .NavButtons  a.searchBtn,nav.navbar .NavButtons  a.searchBtn button {
    background-color: #F28888;
    border: 1px solid #F28888;
}

/**********
End Navbar
***********/


/**********
Banner
***********/
section.Banner {
    height: 100vh;
}
section.Banner .carousel-inner ,section.Banner .carousel-item{
    height: 100vh;
}
section.Banner .carousel-item{
    position: relative;
}
section.Banner .carousel-item .overlay{
    background-color: rgba(0, 0, 0, 0.267);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;

}
section.Banner .carousel-item img{
    height: 100%;
    z-index: 1;
}
section.Banner .carousel button,section.Banner .carousel .carousel-indicators{
    z-index: 100;
}
/**********
End Banner
***********/